iwxxmCore/src/test/resources/iwxxm/2.1/int/wmo/metce/1.0RC2/observation-types.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:metce="http://def.wmo.int/metce/2013" targetNamespace="http://def.wmo.int/metce/2013" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>ISO 19156 ‘Observations and measurements’ provides a conceptual schema for observations
         and the features involved in sampling when making observations, and specifically designed
         to support the exchange of information describing both the observing event and the
         results of the observation between different scientific and technical communities.
         Whilst the name of the model invokes a particular concept to meteorologists (e.g.
         ‘observation’, the measurement of physical phenomena with an instrument or sensor
         – disjoint from the concept of ‘forecast’) it is important to consider the semantics
         of the model. The class OM_Observation is defined as ‘an estimate of the value of
         some property of some Thing using some specified Process’. The process may be an instrument/sensor
         (directly) measuring some physical parameter or a numerical simulation predicting
         future values. Thus the ‘Observations and measurements’ conceptual model may be used
         to represent both observations and forecasts.  Meteorological observations or forecasts
         clearly relate to the real world. For example, we may observe the weather for Exeter
         or provide a weather forecast for the ‘North Atlantic European’ area. However, there
         is a level of abstraction to resolve: - An observation of the weather for the city
         of Exeter happens at some representative location within the city or some representative
         locale nearby; or - The forecast domain for ‘North Atlantic European’ is specified
         so that it covers the areas for which a forecast is required  In each case, the ‘observation’
         event relates to some sampling regime that is a proxy for the real entity of interest
         (e.g. the site of the weather station, or the extent of the forecast domain). The
         observation or forecast is not directly related to real-world entities.  ISO 19156
         ‘Observations and measurements’ provides a conceptual model for describing this layer
         of indirection: Sampling Features. Further specialisations of Sampling Feature are
         provided based on spatial topology (SF_SpatialSamplingFeature and sub-types thereof).
         In all cases identified thus far in meteorology, it appears useful to describe an
         observation, measurement or forecast with respect to the sampling regime (e.g. the
         Sampling Feature) and indirectly refer to the real-world entity for which the Sampling
         Feature is a proxy.  Spatial Sampling Features are considered an essential part of
         METCE: all observations, measurements and forecasts of meteorological phenomena shall
         define the ‘featureOfInterest’ as a concrete sub-type of SF_SpatialSamplingFeature.
         Class 'OM_Process' (related to OM_Observation via the 'Procedure' Association) is
         used to define the process(es) involved in generating an observation. In order to
         ensure a consistent implementation of the abstract OM_Process class, *ALL* Application
         Schema based on METCE shall use the Process class defined therein (or sub-class thereof)
         to describe the observation procedure.  METCE provides three specialised types of
         OM_Observation; each of which enforce the constraints that 'featureOfInterest' shall
         refer to an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass
         thereof, and 'procedure' shall refer to an entity of type Process (from METCE), or
         subclass thereof. - SamplingObservation: subclass of OM_Observation providing a general
         purpose observation type; - ComplexSamplingMeasurement: subclass of OM_ComplexObservation
         for use where the observation event is concerned with the evaluation of multiple measurands
         at a specified location and time instant or duration - the result of this observation
         type shall refer to an entity of type Record (from ISO 19103), or subclass thereof;
         and - SamplingCoverageMeasurement: subclass of OM_DiscreteCoverageObservation for
         use where the observation is concerned with the evaluation of measurands that vary
         with respect to space and/or time - the result of this observation type shall refer
         to an entity of type CV_DiscreteCoverage (from ISO 19123).
      </documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
   <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
   <include schemaLocation="metce.xsd"/>
   <element name="SamplingCoverageMeasurement" substitutionGroup="om:OM_Observation" type="metce:SamplingCoverageMeasurementType">
      <annotation>
         <documentation>Class SamplingCoverageMeasurement (a subclass of OM_DiscreteCoverageObservation) is
            intended for use where the observation is concerned with the evaluation of measurands
            that vary with respect to space and/or time - the result of this observation type
            shall refer to an entity of type CV_DiscreteCoverage (from ISO 19123).  ComplexSamplingMeasurement
            enforces the following additional constraints: - 'featureOfInterest' shall refer to
            an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass thereof;
            and  - 'procedure' shall refer to an entity of type Process (from METCE), or subclass
            thereof  A critical concern of meteorology is the understanding of the variation of
            physical phenomena with either space and/or time. This is exactly what the Coverage
            model is designed to convey.   Coverages are defined in 2 distinct categories: Discrete
            and Continuous. The main difference is that Continuous coverages provide an interpolation
            function to evaluate the phenomena at any point within the coverage domain, which
            Discrete coverages do not. A Discrete coverage is comprised of a number of domain
            elements (e.g. discrete locations where the phenomenon is sampled) and the associated
            range elements (e.g. the data). Where the phenomena are considered to be continuously
            varying within the Coverage domain, a user may apply their own interpolation algorithm
            as meets their specific requirement.   When describing properties that vary in space
            and/or time, METCE shall make exclusive use only of Discrete coverages.  The Class
            ‘SamplingCoverageMeasurement’ is based on the SamplingCoverageObservation which is
            defined in an informative annex of ISO 19156. However, the term ‘measurement’ is used
            in the name in an attempt to reduce confusion arising from the overloading of the
            term ‘observation’.
         </documentation>
      </annotation>
   </element>
   <complexType name="SamplingCoverageMeasurementType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="procedure" type="metce:ProcessPropertyType">
                  <annotation>
                     <documentation>The association role 'procedure' is further constrained to refer to an entity of type
                        Process (from WMO METCE). This ensures that a valid concrete implementation of OM_Process
                        is supplied.
                     </documentation>
                  </annotation>
               </element>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType">
                  <annotation>
                     <documentation>The association role 'featureOfInterest' is further constrained to refer to an entity
                        of type 'SF_SpatialSamplingFeature' (from ISO 19156).  In all cases identified thus
                        far in meteorology, it appears useful to describe an observation, measurement or forecast
                        with respect to the sampling regime (e.g. the Sampling Feature) and indirectly refer
                        to the real-world entity for which the Sampling Feature is a proxy.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SamplingCoverageMeasurementPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:SamplingCoverageMeasurement"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SamplingObservation" substitutionGroup="om:OM_Observation" type="metce:SamplingObservationType">
      <annotation>
         <documentation>Class SamplingObservation (a subclass of OM_Observation) provides a general purpose
            observation type.  It enforces the following additional constraints: - 'featureOfInterest'
            shall refer to an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass
            thereof; and  - 'procedure' shall refer to an entity of type Process (from METCE),
            or subclass thereof  SamplingObservation is intended for use where measurement of
            physical phenomena is not the goal of the procedure. For example, the procedure executed
            to define SIGMET reports results in the identification of areas of turbulence, icing
            or other meteorological phenomena.
         </documentation>
      </annotation>
   </element>
   <complexType name="SamplingObservationType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="procedure" type="metce:ProcessPropertyType">
                  <annotation>
                     <documentation>The association role 'procedure' is further constrained to refer to an entity of type
                        Process (from WMO METCE). This ensures that a valid concrete implementation of OM_Process
                        is supplied.
                     </documentation>
                  </annotation>
               </element>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType">
                  <annotation>
                     <documentation>The association role 'featureOfInterest' is further constrained to refer to an entity
                        of type 'SF_SpatialSamplingFeature' (from ISO 19156).  In all cases identified thus
                        far in meteorology, it appears useful to describe an observation, measurement or forecast
                        with respect to the sampling regime (e.g. the Sampling Feature) and indirectly refer
                        to the real-world entity for which the Sampling Feature is a proxy.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SamplingObservationPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:SamplingObservation"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="ComplexSamplingMeasurement" substitutionGroup="om:OM_Observation" type="metce:ComplexSamplingMeasurementType">
      <annotation>
         <documentation>Class ComplexSamplingMeasurement (a subclass of OM_ComplexObservation) is intended
            for use where the observation event is concerned with the evaluation of multiple measurands
            at a specified location and time instant or duration. The result of this observation
            type shall refer to an entity of metatype Record (from ISO 19103).  ComplexSamplingMeasurement
            enforces the following additional constraints: - 'featureOfInterest' shall refer to
            an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass thereof;
            and  - 'procedure' shall refer to an entity of type Process (from METCE), or subclass
            thereof  The OM_ComplexObservation is used because the 'result' of this class of observations
            is a group of measures, provided as a Record. Again, this matches the WMO application
            domain wherein multiple phenomena are measured within a single 'observation event'.
            The term ‘measurement’ is used in the name in an attempt to reduce confusion arising
            from the overloading of the term ‘observation’.
         </documentation>
      </annotation>
   </element>
   <complexType name="ComplexSamplingMeasurementType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="procedure" type="metce:ProcessPropertyType">
                  <annotation>
                     <documentation>The association role 'procedure' is further constrained to refer to an entity of type
                        Process (from WMO METCE). This ensures that a valid concrete implementation of OM_Process
                        is supplied.
                     </documentation>
                  </annotation>
               </element>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType">
                  <annotation>
                     <documentation>The association role 'featureOfInterest' is further constrained to refer to an entity
                        of type 'SF_SpatialSamplingFeature' (from ISO 19156).  In all cases identified thus
                        far in meteorology, it appears useful to describe an observation, measurement or forecast
                        with respect to the sampling regime (e.g. the Sampling Feature) and indirectly refer
                        to the real-world entity for which the Sampling Feature is a proxy. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ComplexSamplingMeasurementPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:ComplexSamplingMeasurement"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>