src/test/resources/iwxxm/2.1/int/wmo/saf/1.0RC1/saf.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:saf="http://icao.int/saf/1.0RC1" targetNamespace="http://icao.int/saf/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>Simplified features from the aviation domain, such as aerodrome and runway.  These
         features are not intended for storage or transmission, merely simplified variants
         of aviation concepts that can be referenced from other packages.    There are two
         independent issues involved in referencing aviation features: &lt;ol&gt;  &lt;li&gt;using AICM/AIXM
         classes directly for these concepts would introduce a dependency on AICM/AIXM, which
         is a package of significant size and complexity&lt;/li&gt;  &lt;li&gt;web-accessible, machine-readable,
         managed definitions for these concepts (such as the location, capabilites, and other
         information for the 'HTKJ' aerodrome) do not exist in an unified and authoritative
         form.  This information is managed independently and inconsistently by many organizations
         related to the aviation domain&lt;/li&gt; &lt;/ol&gt;  This package follows the traditional approach
         used in weather TAC formats, which is to include sufficient information in the data
         for consumers to identify the referenced aerodrome, FIR, or other feature.  The current
         version of this package represents the bare minimum of information needed by METAR,
         SPECI, TAF, and SIGMET. These concepts should not be considered a replacement or alternative
         to AICM/AIXM equivalents, most classes in this package are only suitable for basic
         referencing purposes such as the use of xlink in XML documents.  These concepts are
         represented in a way that is intended to be largely consistent with AICM/AIXM, but
         a detailed consistency analysis has not yet been attempted.
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <element name="Aerodrome" substitutionGroup="gml:AbstractFeature" type="saf:AerodromeType">
      <annotation>
         <documentation>A defined area on land or water (including any buildings, installations, and equipment)
            intended to be used either wholly or in part for the arrival, departure, and surface
            movement of aircraft.
         </documentation>
      </annotation>
   </element>
   <complexType name="AerodromeType">
      <complexContent>
         <extension base="gml:AbstractFeatureType"/>
      </complexContent>
   </complexType>
   <complexType name="AerodromePropertyType">
      <sequence minOccurs="0">
         <element ref="saf:Aerodrome"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="FlightInformationRegion" substitutionGroup="gml:AbstractFeature" type="saf:FlightInformationRegionType">
      <annotation>
         <documentation>An airspace of defined dimensions within which flight information service and alerting
            service are provided
         </documentation>
      </annotation>
   </element>
   <complexType name="FlightInformationRegionType">
      <complexContent>
         <extension base="gml:AbstractFeatureType"/>
      </complexContent>
   </complexType>
   <complexType name="FlightInformationRegionPropertyType">
      <sequence minOccurs="0">
         <element ref="saf:FlightInformationRegion"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Runway" substitutionGroup="gml:AbstractFeature" type="saf:RunwayType">
      <annotation>
         <documentation>A defined rectangular area on a land aerodrome prepared for the landing and take-off
            of aircraft.  Examples from ICAO Annex 3 include "R03" and "R18C"
         </documentation>
      </annotation>
   </element>
   <complexType name="RunwayType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="designator" type="string">
                  <annotation>
                     <documentation>The designator of the runway.  E.g., "03" or "18".  This representation is partially
                        consistent with AIXM
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="side" type="saf:Direction3Type">
                  <annotation>
                     <documentation>Left, right or center</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="RunwayPropertyType">
      <sequence minOccurs="0">
         <element ref="saf:Runway"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AirTrafficControlUnit" substitutionGroup="saf:AirTrafficServicesUnit" type="saf:AirTrafficControlUnitType">
      <annotation>
         <documentation>&lt;font color="#ff0000"&gt;Need definition and description&lt;/font&gt;</documentation>
      </annotation>
   </element>
   <complexType name="AirTrafficControlUnitType">
      <complexContent>
         <extension base="saf:AirTrafficServicesUnitType"/>
      </complexContent>
   </complexType>
   <complexType name="AirTrafficControlUnitPropertyType">
      <sequence minOccurs="0">
         <element ref="saf:AirTrafficControlUnit"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="FlightInformationCentre" substitutionGroup="saf:AirTrafficServicesUnit" type="saf:FlightInformationCentreType">
      <annotation>
         <documentation>&lt;font color="#ff0000"&gt;Need definition and description&lt;/font&gt;</documentation>
      </annotation>
   </element>
   <complexType name="FlightInformationCentreType">
      <complexContent>
         <extension base="saf:AirTrafficServicesUnitType"/>
      </complexContent>
   </complexType>
   <complexType name="FlightInformationCentrePropertyType">
      <sequence minOccurs="0">
         <element ref="saf:FlightInformationCentre"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeteorologicalWatchOffice" substitutionGroup="gml:AbstractGML" type="saf:MeteorologicalWatchOfficeType">
      <annotation>
         <documentation>When an ICAO contracting state accepts responsibility for providing air traffic services
            within a flight information region or a control area, a meteorological watch office
            will :  a) maintain continuous watch over meteorological conditions affecting flight
            operations within its area of responsibility; b) prepare SIGMET and other information
            relating to its area of responsibility; c) supply SIGMET information and, as required,
            other meteorological information to associated air traffic services units; d) disseminate
            SIGMET information; e) when required by regional air navigation agreemen: 1) prepare
            AIRMET information related to its area of responsibility; 2) supply AIRMET information
            to associated air traffic services units; and 3) disseminate AIRMET information; f)
            supply information received on pre-eruption volcanic activity, a volcanic eruption
            and volcanic ash cloud for which a SIGMET has not already been issued, to its associated
            ACC/FIC, as agreed between the meteorological and ATS authorities concerned, and to
            its associated VAAC as determined by regional air navigation agreement; and g) supply
            information received concerning the accidental release of radioactive materials into
            the atmosphere, in the area for which it maintains watch or adjacent areas, to its
            associated ACC/FIC, as agreed between the meteorological and ATS authorities concerned,
            and to aeronautical information service units, as agreed between the meteorological
            and appropriate civil aviation authorities concerned. The information shall comprise
            location, date and time of the accident, and forecast trajectories of the radioactive
            materials.  &lt;font color="#ff0000"&gt;Not clear whether any further information is required
            by data providers and/or data producers relating to MWOs.&lt;/font&gt;
         </documentation>
      </annotation>
   </element>
   <complexType name="MeteorologicalWatchOfficeType">
      <complexContent>
         <extension base="gml:AbstractGMLType"/>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalWatchOfficePropertyType">
      <sequence minOccurs="0">
         <element ref="saf:MeteorologicalWatchOffice"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AirspaceSolid" substitutionGroup="gml:Solid" type="saf:AirspaceSolidType">
      <annotation>
         <documentation>A defined volume in the air, described as a horizontal projection with vertical limits.
            This class is a modified version of the AIXM AirspaceVolume class.  This version of
            the class has been reduced to horizontal and vertical geographic information, and
            the horizontal geometry was broadened to allow a horizontal description of airspace
            using any geometric primitive in combination with an upper and lower vertical limit.
            &lt;font color="#ff0000"&gt;The use of GM_Primitive may not be ideal.  This was generalized
            to allow for 3-dimensional descriptions using ArcByCentrePoint, Surface, or other
            planar geometries that can be combined with vertical limits to describe a full 3-D
            solid.  Is there a better GM_* sub-type that would serve better here?&lt;/font&gt;  References
            from the original AIXM class to AIXM data types were replaced with the closest ISO
            equivalents.  Specifically, ValDistanceVertical (for upper and lower limit) were replaced
            with Measure. Instances of the AIXM Surface were replaced with GM_Primitive.  The
            horizontal components may be any 2-dimensional geometry, such as an ArcByCentrePoint
            or a Polygon.  In conjunction with upper and lower limits this describes a 3-dimensional
            shape and is equivalent to GM_Solid.    When the upper limit is missing, this indicates
            that the described area extends to the maximum height above the earth that is significant
            to aviation.  When the lower limit is missing, this indicates that the described area
            extends down to ground level.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="AirspaceSolid1">
               <sch:rule context="//saf:AirspaceSolid">
                  <sch:assert test="((exists(saf:horizontalProjection/gml:ArcByCenterPoint))or(exists(saf:horizontalProjection/gml:Surface))or(exists(saf:horizontalProjection/gml:LinearRing))or(exists(saf:horizontalProjection/gml:Point)))">AirspaceSolid: horizontalProjection must inherit from either a GM_Surface, ArcByCentrePoint,
                     or LinearRing
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="AirspaceSolidType">
      <complexContent>
         <extension base="gml:SolidType">
            <sequence>
               <element name="horizontalProjection" type="gml:AssociationRoleType">
                  <annotation>
                     <documentation>The horizontal shape of the airspace boundary.  This portion of AirspaceVolume is
                        not present in the UML model, and was instead modeled after the AIXM XML schema representation.
                        The current representation points to Any and several specific constraints have been
                        applied to this type.  This is due to the fact that no common supertypes more specific
                        than Any has been found yet between LinearRing, GM_Surface, and ArcByCenterPoint.
                        If a common supertype is found for these 2-D geometries this type could be made more
                        specific.
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="lowerLimit" type="gml:LengthType">
                  <annotation>
                     <documentation>The vertical position of the airspace floor.</documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="upperLimit" type="gml:LengthType">
                  <annotation>
                     <documentation>The vertical position of the airspace ceiling.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="AirspaceSolidPropertyType">
      <sequence minOccurs="0">
         <element ref="saf:AirspaceSolid"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AirTrafficServicesReportingOffice" substitutionGroup="saf:AirTrafficServicesUnit" type="saf:AirTrafficServicesReportingOfficeType">
      <annotation>
         <documentation>&lt;font color="#ff0000"&gt;Need definition and description&lt;/font&gt;</documentation>
      </annotation>
   </element>
   <complexType name="AirTrafficServicesReportingOfficeType">
      <complexContent>
         <extension base="saf:AirTrafficServicesUnitType"/>
      </complexContent>
   </complexType>
   <complexType name="AirTrafficServicesReportingOfficePropertyType">
      <sequence minOccurs="0">
         <element ref="saf:AirTrafficServicesReportingOffice"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="AirTrafficServicesUnit" substitutionGroup="gml:AbstractGML" type="saf:AirTrafficServicesUnitType">
      <annotation>
         <documentation>A generic term meaning variously, air traffic control unit, flight information centre
            or air traffic services reporting office
         </documentation>
      </annotation>
   </element>
   <complexType name="AirTrafficServicesUnitType">
      <complexContent>
         <extension base="gml:AbstractGMLType"/>
      </complexContent>
   </complexType>
   <complexType name="AirTrafficServicesUnitPropertyType">
      <sequence minOccurs="0">
         <element ref="saf:AirTrafficServicesUnit"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <simpleType name="Direction3Type">
      <annotation>
         <documentation>Either LEFT, RIGHT, or CENTER</documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="LEFT">
            <annotation>
               <documentation>The left side of an identified area</documentation>
            </annotation>
         </enumeration>
         <enumeration value="RIGHT">
            <annotation>
               <documentation>The right side of an identified area</documentation>
            </annotation>
         </enumeration>
         <enumeration value="CENTER">
            <annotation>
               <documentation>The center of an identified location</documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>