iwxxmCore/src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/cloud.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="meteorology.xsd"/>
   <element name="CloudBaseHeight" type="met-basic:CloudBaseHeightType">
      <annotation>
         <documentation>For a given cloud or cloud layer, height of the lowest level in the atmosphere at
            which the air contains a perceptible quantity of cloud particles.  In FM-92 GRIB,
            encoded as GRIB Code-table 4.2 discipline 0 (meteorology), category 6 (cloud), #11
            cloud base.
         </documentation>
      </annotation>
   </element>
   <complexType name="CloudBaseHeightType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
   <element name="CloudAmount" type="met-basic:CloudAmountType">
      <annotation>
         <documentation>Quantitative amount of cloud; measured in % or oktas.  &lt;font color="#ff0000"&gt; &lt;/font&gt;&lt;font
            color="#ff0000"&gt;WARNING: the terminology "Cloud amount" (GRIB 4.2 0.6.7) and "Cloud
            cover" (GRIB 4.2 0.6.22) is ambiguous. The WMO terminology specifies "Cloud cover"
            as a synonym for "Cloud amount"! The terminology needs to be clarified.&lt;/font&gt; &lt;font
            color="#ff0000"&gt; &lt;/font&gt;&lt;font color="#ff0000"&gt;... definition "Cloud cover" (ECMWF):
            "horizontal fraction of the grid box covered by cloud"&lt;/font&gt; &lt;font color="#ff0000"&gt;...
            definition "Cloud amount (ECMWF): "eigths of sky covered in cloud as seen by an observer
            on the ground"&lt;/font&gt;   In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline 0
            (meteorology), category 6 (cloud), #7 cloud amount (%) or #22 cloud cover (%) .
         </documentation>
      </annotation>
   </element>
   <complexType name="CloudAmountType">
      <simpleContent>
         <extension base="gml:ScaleType"/>
      </simpleContent>
   </complexType>
   <complexType name="CloudTypeType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-012</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Genus of cloud.  In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline 0 (meteorology),
            category 6 (cloud), #8 cloud type.  See WMO No. 306: - GRIB Code table 4.203; - BUFR
            Code table 0 20 012 "Cloud type"; - WMO Code table 0500 "Genus of cloud";  - WMO Code
            table 0509 "Clouds of the genera cirrus, cirrocumulus and cirrostratus";  - WMO Code
            table 0513 "Clouds of the genera stratocumulus, stratus, cumulus and cumulonimbus";
            - WMO Code table 0515 "Clouds of the genera altocumulus, altostratus and nimbostratus";
            and - WMO Code table 0521 "Special clouds"
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="CloudAmountCategoryType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-011</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Amount of cloud - assessed by category:  - 0 oktas - 1 oktas or less (but not zero)
            - 2 oktas - 3 oktas - 4 oktas - 5 oktas - 6 oktas - 7 oktas or more (but not 8) -
            8 oktas - Sky obscured by fog and/or other meteorological phenomena - Sky partially
            obscured by fog and/or other meteorological phenomena - Sky clear (0 oktas) - Few
            (1 - 2 oktas) - Scattered (3 - 4 oktas) - Broken (5 - 7 oktas) - Overcast (8 oktas)
            - Cloud cover is indiscernible for reasons other than fog or other meteorological
            phenomena, or observation is not made  See WMO No. 306 BUFR Table B class 20 'Observed
            phenomena' #11 [Element 0 20 011].
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>