iwxxmCore/src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/runwaySurfaceProperties.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="aeronauticalMeteorology.xsd"/>
   <element name="FrictionCoefficient" type="met-basic:FrictionCoefficientType">
      <annotation>
         <documentation>Quantitative assessment of friction coefficient of runway surface.  See WMO No. 306:
            - WMO Code table 0366 "Friction coefficient / braking action"; and  - BUFR Code table
            0 20 089 "Runway friction coefficient".
         </documentation>
      </annotation>
   </element>
   <complexType name="FrictionCoefficientType">
      <simpleContent>
         <extension base="gml:ScaleType"/>
      </simpleContent>
   </complexType>
   <element name="RunwayContamination" type="met-basic:RunwayContaminationType">
      <annotation>
         <documentation>Proportion of runway surface that is contaminated - usually expressed as a percentage
            of the total runway area.  WMO reporting procedures require that contamination is
            reported in the following categories: - less than 10%; - between 11% and 25%; - between
            26% and 50%; and - more than 50%.   See WMO No. 306: - WMO Code table 0519 - BUFR
            Code table 0 20 087
         </documentation>
      </annotation>
   </element>
   <complexType name="RunwayContaminationType">
      <simpleContent>
         <extension base="gml:ScaleType"/>
      </simpleContent>
   </complexType>
   <element name="DepthOfDeposit" type="met-basic:DepthOfDepositType">
      <annotation>
         <documentation>Depth of deposit on surface of runway.  See WMO No. 306 WMO Code table 1079.</documentation>
      </annotation>
   </element>
   <complexType name="DepthOfDepositType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
   <complexType name="RunwayContaminationCategoryType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-087</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Proportion of runway surface that is contaminated expressed as a category based on
            the percentage of the total runway area.  WMO reporting procedures require that contamination
            is reported in the following categories: - less than 10%; - between 11% and 25%; -
            between 26% and 50%; and - more than 50%.   See WMO No. 306: - WMO Code table 0519
            - BUFR Code table 0 20 087
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="RunwayDepositsType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-086</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Type of deposit on runway.  See WMO No. 306: - WMO Code table 0919; and - BUFR Code
            table 0 20 086
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="BrakingActionType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/49-2/BrakingAction</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Category of braking action associated with runway surface.  See WMO No. 306:  - WMO
            Code table 0366 "Friction coefficient / braking action"; and  - BUFR Code table 0
            20 089 "Runway friction coefficient".
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>