iwxxmCore/src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/temperature.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="meteorology.xsd"/>
   <element name="AirTemperature" type="met-basic:AirTemperatureType">
      <annotation>
         <documentation>The temperature indicated by a thermometer exposed to the air in a place sheltered
            from direct solar radiation.  In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline
            0 (meteorology), category 0 (temperature), #0 temperature.
         </documentation>
      </annotation>
   </element>
   <complexType name="AirTemperatureType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="DewPointTemperature" type="met-basic:DewPointTemperatureType">
      <annotation>
         <documentation>The temperature to which a given air parcel must be cooled at constant pressure and
            constant water vapor content in order for saturation to occur.  In FM-92 GRIB, encoded
            as GRIB Code-table 4.2 discipline 0 (meteorology), category 0 (temperature), #6 dew-point
            temperature.
         </documentation>
      </annotation>
   </element>
   <complexType name="DewPointTemperatureType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
</schema>