src/test/resources/iwxxm/2.1/int/wmo/metce/1.0RC1/procedure.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:opm="http://data.wmo.int/def/opm/1.0RC1" xmlns:om="http://www.opengis.net/om/2.0" xmlns:metce="http://data.wmo.int/def/metce/1.0RC1" targetNamespace="http://data.wmo.int/def/metce/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>The 'Procedure' package provides a concrete implementation of the abstract OM_Process
         class (from ISO 19156).  The implementation is intended to support the following requirements:
         1) reference to supporting documentation (ProcessDocumentation); e.g. online documentation
         describing the procedure in detail; 2) specification of parameters that remain fixed
         within a particular configuration of the procedure (Configuration); a soft-typed approach
         is used here following the pattern adopted for OM_Observation/parameter; 3) specification
         of the resolution [1] with which each observed physical phenomenon is measured; and
         4) specification of the measuring interval [2] of the instrument or sensor for each
         observed physical phenomenon.  [1] Resolution: smallest change in a quantity being
         measured that causes a perceptible change in the corresponding indication (from the
         'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
         [2] Measuring interval: set of values of quantities of the same kind that can be measured
         by a given measuring instrument or measuring system with specified instrumental uncertainty,
         under defined conditions (from the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
   <import namespace="http://data.wmo.int/def/opm/1.0RC1" schemaLocation="http://schemas.wmo.int/opm/1.0RC1/opm.xsd"/>
   <include schemaLocation="metce.xsd"/>
   <element name="Process" substitutionGroup="gml:AbstractFeature" type="metce:ProcessType">
      <annotation>
         <documentation>Class 'OM_Process' (related to OM_Observation via the 'Procedure' Association) is
            used to define the process(es) involved in generating an observation. An instance
            of OM_Process is often an instrument or sensor (perhaps even a sensor in a given calibrated
            state), but it may be a human observer executing a set of instructions, a simulator
            or process algorithm. The 'Procedure' should provide sufficient information to interpret
            the result of an observation; thus if a sensor is recalibrated or its height above
            local ground is changed, a new instance of OM_Process should be created and associated
            with subsequent observations from that sensor (at least until the sensor is changed
            again).  Predominantly we expect the Process instance to be externally published /
            defined and 'static' (e.g. perhaps changing less often than once per month due to
            amendments to operational protocols etc.).  The class 'Process' provides a concrete
            implementation of OM_Process (from ISO 19156).  The implementation is intended to
            support the following requirements: 1) reference to supporting documentation (ProcessDocumentation);
            e.g. online documentation describing the procedure in detail; 2) specification of
            parameters that remain fixed within a particular configuration of the procedure (Configuration);
            a soft-typed approach is used here following the pattern adopted for OM_Observation/parameter;
            3) specification of the resolution [1] with which each observed physical phenomenon
            is measured; and 4) specification of the measuring interval [2] of the instrument
            or sensor for each observed physical phenomenon.  [1] Resolution: smallest change
            in a quantity being measured that causes a perceptible change in the corresponding
            indication (from the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
            [2] Measuring interval: set of values of quantities of the same kind that can be measured
            by a given measuring instrument or measuring system with specified instrumental uncertainty,
            under defined conditions (from the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
         </documentation>
      </annotation>
   </element>
   <complexType name="ProcessType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="documentationRef" type="gml:ReferenceType">
                  <annotation>
                     <documentation>Reference to an external process definition providing information about relevant documentation
                        that describes the associated Process.
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="context" type="metce:AbstractMeasurementContextPropertyType">
                  <annotation>
                     <documentation>The association role 'context' references an instance of MeasurementContext class
                        that defines resolution and measuring interval for a specific measurand.
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
                  <annotation>
                     <documentation>The association role 'parameter' references an instance of NamedValue that specifies
                        parameters associated with a particular configuration of the procedure (Configuration)
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ProcessPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:Process"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element abstract="true" name="AbstractMeasurementContext" substitutionGroup="gml:AbstractGML" type="metce:AbstractMeasurementContextType">
      <annotation>
         <documentation>The granularity of an Observation or Measurement event is somewhat arbitrary; largely
            dependent on how the measurement results are packaged for consumption. For example,
            a WMO synoptic observation aggregates data from multiple procedures each of which
            are considered to be part of an aggregate procedure defined in regulation. The execution
            of this aggregate procedure is considered to be a single event, and is thus described
            using a single Observation instance.  Thus a single Procedure may evaluate a number
            of physical properties.  Where quantitative properties are evaluated, it is essential
            that the resolution [1] and measuring interval [2] of the measurement procedure can
            be specified.  The abstract class 'AbstractMeasurementContext' enables either a simple
            context definition (where a single quantity is evaluated as a result of the procedure)
            or a complex context definition comprising of 2 or more simple definitions.  [1] Resolution:
            smallest change in a quantity being measured that causes a perceptible change in the
            corresponding indication (from the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
            [2] Measuring interval: set of values of quantities of the same kind that can be measured
            by a given measuring instrument or measuring system with specified instrumental uncertainty,
            under defined conditions (from the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
         </documentation>
      </annotation>
   </element>
   <complexType abstract="true" name="AbstractMeasurementContextType">
      <complexContent>
         <extension base="gml:AbstractGMLType"/>
      </complexContent>
   </complexType>
   <complexType name="AbstractMeasurementContextPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:AbstractMeasurementContext"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="CompositeMeasurementContext" substitutionGroup="metce:AbstractMeasurementContext" type="metce:CompositeMeasurementContextType">
      <annotation>
         <documentation>In the case where a procedure measures multiple physical quantities, the class 'CompositeMeasurementContext'
            enables a measurement context to be defined for each measurand. 
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="CompositeMeasurementContext1">
               <sch:rule context="//metce:CompositeMeasurementContext">
                  <sch:assert test="((metce:count/text())=(string( count( metce:context ) )))">CompositeMeasurementContext: The attribute 'count' defines the number of associated
                     instances of MeasurementContext, referenced via the association role 'context'
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="CompositeMeasurementContextType">
      <complexContent>
         <extension base="metce:AbstractMeasurementContextType">
            <sequence>
               <element name="count" type="integer">
                  <annotation>
                     <documentation>The number of measurement context instances (each associated with a specific measurand)
                        aggregated within this composite.
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="unbounded" minOccurs="2" name="context" type="metce:MeasurementContextPropertyType"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="CompositeMeasurementContextPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:CompositeMeasurementContext"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="MeasurementContext" substitutionGroup="metce:AbstractMeasurementContext" type="metce:MeasurementContextType">
      <annotation>
         <documentation>Instances of the class 'MeasurementContext' specify the resolution [1] and measuring
            interval [2] for a given physical property in the context of this measurement procedure.
            [&lt;i&gt;Note that attribute measuringInterval may be inferred to mean temporal duration;
            please provide feedback&lt;/i&gt;]  [1] Resolution: smallest change in a quantity being
            measured that causes a perceptible change in the corresponding indication (from the
            'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
            [2] Measuring interval: set of values of quantities of the same kind that can be measured
            by a given measuring instrument or measuring system with specified instrumental uncertainty,
            under defined conditions (from the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="MeasurementContext1">
               <sch:rule context="//metce:MeasurementContext">
                  <sch:assert test="((: uom shall be appropriate for measurand :)true())">MeasurementContext: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="MeasurementContextType">
      <complexContent>
         <extension base="metce:AbstractMeasurementContextType">
            <sequence>
               <element name="measurand" type="opm:ObservablePropertyPropertyType">
                  <annotation>
                     <documentation>The attribute 'measurand' [1] specifies the physical property that the associated
                        'resolution' and 'measuring interval' apply to.  The measurand may be sourced from
                        an external controlled vocabulary, thesaurus or ontology or defined locally.   The
                        measurand may reference a qualified observable property if required.   If the measurand
                        references an observable physical property that serves as the base property for a
                        qualified observable property, the measurement context is assumed to apply to ALL
                        the qualified observable properties that reference this base property unless otherwise
                        stated. For example, observable physical property 'radiance' may be qualified to measure
                        wavelength bands 50-100nm, 100-200nm, 200-500nm etc. A measurement context associated
                        with 'radiance' would be inferred to apply to all of these qualified radiance properties.
                        [1] Measurand: quantity intended to be measured (from the 'International vocabulary
                        of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf]
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="measuringInterval" type="metce:RangeBoundsPropertyType">
                  <annotation>
                     <documentation>The attribute 'measuringInterval' [1] specifies the extreme lower and upper limits
                        of property values of the 'measurand' that can measured within this procedure, using
                        the unit of measure 'uom'.  [1] Measuring interval: set of values of quantities of
                        the same kind that can be measured by a given measuring instrument or measuring system
                        with specified instrumental uncertainty, under defined conditions (from the 'International
                        vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
                     </documentation>
                  </annotation>
               </element>
               <element maxOccurs="1" minOccurs="0" name="resolutionScale" type="integer">
                  <annotation>
                     <documentation>The attribute 'resolutionScale' specifies the smallest change (e.g. the 'resolution'
                        [1]) in property value of the 'measurand' that is intended to be measured within this
                        procedure, using the unit of measure 'uom'.  This shall be provided as a scaling factor.
                        For example: &lt;ul&gt;  &lt;li&gt;scale = -2 implies a precision of 100 units &lt;/li&gt;  &lt;li&gt;scale
                        = -1 implies a precision of 10 units&lt;/li&gt;  &lt;li&gt;scale = 0 implies a precision of 1
                        unit&lt;/li&gt;  &lt;li&gt;scale = 1 implies a precision of 0.1 units&lt;/li&gt;  &lt;li&gt;scale = 2 implies
                        a precision of 0.01 units &lt;/li&gt; &lt;/ul&gt; etc.  [1] Resolution: smallest change in a quantity
                        being measured that causes a perceptible change in the corresponding indication (from
                        the 'International vocabulary of metrology' [http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf])
                     </documentation>
                  </annotation>
               </element>
               <element name="uom" type="gml:UnitOfMeasureType">
                  <annotation>
                     <documentation>The attribute 'uom' specifies the unit of measure that the values of 'resolution'
                        and 'measuring interval' are specified in.  Typically, this will also be the unit
                        of measure used to specify the measured quantity values. Unless otherwise specified,
                        this unit of measure can be assumed to be the default unit of measure for this measurand.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="MeasurementContextPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:MeasurementContext"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="RangeBounds" substitutionGroup="gml:AbstractObject" type="metce:RangeBoundsType">
      <annotation>
         <documentation>The class 'RangeBounds' describes the extreme limits of a property value range (also
            known as a property value interval).
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="RangeBounds1">
               <sch:rule context="//metce:RangeBounds">
                  <sch:assert test="(number( metce:rangeStart/text() ) lt number( metce:rangeEnd/text() ))">RangeBounds: The extreme lower limit of the range of interval must be less than the
                     extreme upper limit.
                  </sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="RangeBoundsType">
      <sequence>
         <element name="rangeEnd" type="double">
            <annotation>
               <documentation>The attribute 'rangeEnd' provides the extreme upper limit of the range or interval.</documentation>
            </annotation>
         </element>
         <element name="rangeStart" type="double">
            <annotation>
               <documentation>The attribute 'rangeStart' provides the extreme lower limit of the range or interval.</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="RangeBoundsPropertyType">
      <sequence>
         <element ref="metce:RangeBounds"/>
      </sequence>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>