iwxxm2Converter/src/test/resources/iwxxm/2.1/int/wmo/metce/1.0RC1/observationTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:metce="http://data.wmo.int/def/metce/1.0RC1" targetNamespace="http://data.wmo.int/def/metce/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>ISO 19156 ‘Observations and measurements’ provides a conceptual schema for observations
         and the features involved in sampling when making observations, and specifically designed
         to support the exchange of information describing both the observing event and the
         results of the observation between different scientific and technical communities.
         Whilst the name of the model invokes a particular concept to meteorologists (e.g.
         ‘observation’, the measurement of physical phenomena with an instrument or sensor
         – disjoint from the concept of ‘forecast’) it is important to consider the semantics
         of the model. The class OM_Observation is defined as ‘an estimate of the value of
         some property of some Thing using some specified Process’. The process may be an instrument/sensor
         (directly) measuring some physical parameter or a numerical simulation predicting
         future values. Thus the ‘Observations and measurements’ conceptual model may be used
         to represent both observations and forecasts.  Meteorological observations or forecasts
         clearly relate to the real world. For example, we may observe the weather for Exeter
         or provide a weather forecast for the ‘North Atlantic European’ area. However, there
         is a level of abstraction to resolve: - An observation of the weather for the city
         of Exeter happens at some representative location within the city or some representative
         locale nearby; or - The forecast domain for ‘North Atlantic European’ is specified
         so that it covers the areas for which a forecast is required  In each case, the ‘observation’
         event relates to some sampling regime that is a proxy for the real entity of interest
         (e.g. the site of the weather station, or the extent of the forecast domain). The
         observation or forecast is not directly related to real-world entities.  ISO 19156
         ‘Observations and measurements’ provides a conceptual model for describing this layer
         of indirection: Sampling Features. Further specialisations of Sampling Feature are
         provided based on spatial topology (SF_SpatialSamplingFeature and sub-types thereof).
         In all cases identified thus far in meteorology, it appears useful to describe an
         observation, measurement or forecast with respect to the sampling regime (e.g. the
         Sampling Feature) and indirectly refer to the real-world entity for which the Sampling
         Feature is a proxy.  Spatial Sampling Features are considered an essential part of
         WMO METCE: all observations, measurements and forecasts of meteorological phenomena
         shall define the ‘featureOfInterest’ as a concrete sub-type of SF_SpatialSamplingFeature.
         Class 'OM_Process' (related to OM_Observation via the 'Procedure' Association) is
         used to define the process(es) involved in generating an observation. In order to
         ensure a consistent implementation of the abstract OM_Process class, *ALL* Application
         Schema based on WMO METCE shall use the WMO Process class (or sub-class thereof) to
         describe the observation procedure.  WMO METCE provides three specialised types of
         OM_Observation; each of which enforce the constraints that 'featureOfInterest' shall
         refer to an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass
         thereof, and 'procedure' shall refer to an entity of type Process (from WMO METCE),
         or subclass thereof. - SamplingObservation: subclass of OM_Observation providing a
         general purpose observation type; - ComplexSamplingMeasurement: subclass of OM_ComplexObservation
         for use where the observation event is concerned with the evaluation of multiple measurands
         at a specified location and time instant or duration - the result of this observation
         type shall refer to an entity of type Record (from ISO 19103), or subclass thereof;
         and - SamplingCoverageMeasurement: subclass of OM_DiscreteCoverageObservation for
         use where the observation is concerned with the evaluation of measurands that vary
         with respect to space and/or time - the result of this observation type shall refer
         to an entity of type CV_DiscreteCoverage (from ISO 19123).  ---  &lt;i&gt;A note on the
         application of OM_Observation/observedProperty:&lt;/i&gt;  If one looks at the examples
         in ISO 19156 and Sensor Observation Service specification, examples of observedProperty
         include 'mass', 'salinity', 'water height' and 'effective temperature'. In the case
         of the third and fourth example, these are drawn from the NASA SWEET ontology. Using
         the terminology from the International vocabulary of metrology [1] these are 'Quantities'.
         Although observedProperty is specified in ISO 19156 as type GF_PropertyType (from
         ISO 19109), the behaviour inferred from the examples indicates that observedProperty
         is used to refer to specific entities rather than the relationships between entities.
         The General Feature Model (as defined in ISO 19109) specifies instances of a «metaclass»
         (e.g. GF_PropertyType) as UML Classes. In contrast, the rules for Application Schema
         require that properties are implemented as attributes, association roles and operations
         resulting in a contradicting duality of 'classes-that-are-properties'.   However,
         given that observedProperty is implemented in GML as gml:ReferenceType, observedProperty
         can only refer to its target value via xlink:href (e.g. using HTTP URI). No type checking
         of the xlink target is implied. Thus we can *ASSUME* that the observedProperty behaves
         like an instance of a Class without adverse side effects, thus matching the behaviour
         we see in the examples. We don't need to get too hung up with ensuring that the entities
         referenced by observedProperty are faithful implementations of GF_PropertyType (e.g.
         FC_PropertyType); we can reference definitions of Quantities from external thesauri,
         ontologies or feature type catalogues that meet the desired semantics.  In some cases
         the Quantity referenced via observedProperty *MAY* genuinely be GF_PropertyType that
         is used in the Feature Type specification of a domain feature; for example GF_PropertyType
         'salinity' may be an attribute of a WaterBody «FeatureType». Alternatively, one may
         publish a definition of «FeatureType» WaterBody and the associated GF_AttributeType
         'salinity' in a Feature Type Catalogue and the assert that GF_AttributeType WaterBody.salinity
         is equivalent to an existing definition of salinity Quantity (e.g. http://sweet.jpl.nasa.gov/2.3/propChemical.owl#Salinity)
         that is used as the value of observedProperty in observation datasets. This would
         allow one to reconcile these 'properties' and match domain feature to observation
         result.  However, we must note that the observedProperty is only meant to provide
         a metadata hook to find observations associated with a given quantity. Previously,
         the role of observedProperty has been over interpreted: it is not a binding mechanism
         between domain feature and observation result - just metadata describing the quantity
         observed.  As an aside, note that within the Sensor Observation Service, the observedProperty
         is a key used within the query API to select observations. This is why observedProperty
         is implemented as gml:ReferenceType: the identifier is used as the well-known key
         to extract appropriate data.  It is not uncommon for an observation or measurement
         event to evaluate multiple measurands. For example:  - a 'water quality' measurement
         may evaluate properties such as salinity, nitrate, dissolved oxygen, pH and turbidity;
         - a weather forecast produced from a numerical simulation may simultaneously evaluate
         dozens of parameters.   One of the most useful 'discovery paths' for finding observation
         data is anticipated to use the observed physical phenomenon; "find me all the Observations
         that include 'air-temperature' data". Crucially, the Observation provides metadata
         about the resultant datasets, mitigating the need for a data-consumer to parse the
         data-payload to discover physical phenomena are included. This is especially important
         for coverage datasets where it is not unusual for the data-payload may be many gigabytes
         in size - or larger!  OM_Observation/observedProperty provides one such mechanism
         to discover Observations. However, observedProperty is specified with cardinality
         of one; only a single property can be referenced. Thus in the example above, observedProperty
         can only be used to reference an aggregate property such as 'water quality'. To discover
         observations based on the individual quantities (e.g. salinity, nitrate, dissolved
         oxygen, pH or turbidity) the observedProperty must be supplemented.  One option is
         to put the physical property information in the OM_Observation/procedure/OM_Process.
         The 'procedure' may include a description of the set of measured phenomena. However,
         as the OM_Process object will typically be re-used across a number of Observation
         events, it is likely that the object will be published as a separate entity that is
         _REFERENCED_ from the Observation. Finding specific Observations that include measurements
         of a given physical phenomenon would require the OM_Process object to be fully resolved
         for indexing to support search.   Two options are proposed:  i) External definition
         of aggregate property: - An external definition of 'water quality' may be provided
         that aggregates 'salinity', 'nitrate', 'dissolved oxygen', 'pH' and 'turbidity'. 
         - A user searching for data on 'turbidity' would first search those external definitions
         for references to property 'turbidity', resulting in the property 'water quality'
         being discovered.  - Subsequently, the user would search for observations with observedProperty
         specified as 'turbidity' -OR- 'water quality'.  ii) Internal definition of aggregate
         property using Observable Property model: - The individual properties 'salinity',
         'nitrate', 'dissolved oxygen', 'pH' and 'turbidity' may be specified via OM_Observation/parameter
         using the soft-typed NamedValue class. - The appropriate semantics are found in the
         GF_AssociationRole 'property' within the Observable Property model; the valueType
         is specified as AbstractObservableProperty enabling an instance of either CompositeObservableProperty
         -OR- ObservableProperty to be referenced.  - NamedValue/name is specified as Type
         'GenericName'. To enable software systems to identify the ObservedProperty entities
         when parsing the observation, 'name' must be specified consistently. - Assuming that
         the Observed Property model is published within a Feature Type Catalogue as part of
         WMO METCE as an instance of FC_AssociationRole, GF_AssociationRole 'property' will
         be identified with the HTTP URI http://data.wmo.int/def/observable-property/property.
         - NamedValue/value is specified as Type 'Any'; in this case, 'value' shall be defined
         as an instance of CompositeObservableProperty enabling each of the individual physical
         properties to be specified within the composite. - Data management systems can be
         configured to index observation instances based on the Observable Property.  Use of
         the Observable Property model also enables a data publisher to explicitly specify
         any constraints or qualifications associated with the observed physical properties.
         Please refer to the Observed Property model for more details.   [1] http://www.bipm.org/utils/common/documents/jcgm/JCGM_200_2008.pdf
      </documentation>
      <appinfo>
         <sch:title xmlns:sch="http://purl.oclc.org/dsdl/schematron">Schematron validation</sch:title>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="opm" uri="http://data.wmo.int/def/opm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="metce" uri="http://data.wmo.int/def/metce/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="saf" uri="http://icao.int/saf/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="iwxxm" uri="http://icao.int/iwxxm/1.0RC1"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="sams" uri="http://www.opengis.net/samplingSpatial/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="om" uri="http://www.opengis.net/om/2.0"/>
         <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="gml" uri="http://www.opengis.net/gml/3.2"/>
      </appinfo>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
   <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
   <include schemaLocation="metce.xsd"/>
   <element name="SamplingCoverageMeasurement" substitutionGroup="om:OM_Observation" type="metce:SamplingCoverageMeasurementType">
      <annotation>
         <documentation>Class SamplingCoverageMeasurement (a subclass of OM_DiscreteCoverageObservation) is
            intended for use where the observation is concerned with the evaluation of measurands
            that vary with respect to space and/or time - the result of this observation type
            shall refer to an entity of type CV_DiscreteCoverage (from ISO 19123).  ComplexSamplingMeasurement
            enforces the following additional constraints: - 'featureOfInterest' shall refer to
            an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass thereof;
            and  - 'procedure' shall refer to an entity of type Process (from WMO METCE), or subclass
            thereof  A critical concern of meteorology is the understanding of the variation of
            physical phenomena with either space and/or time. This is exactly what the Coverage
            model is designed to convey.   Coverages are defined in 2 distinct categories: Discrete
            and Continuous. The main difference is that Continuous coverages provide an interpolation
            function to evaluate the phenomena at any point within the coverage domain, which
            Discrete coverages do not. A Discrete coverage is comprised of a number of domain
            elements (e.g. discrete locations where the phenomenon is sampled) and the associated
            range elements (e.g. the data). Where the phenomena are considered to be continuously
            varying within the Coverage domain, a user may apply their own interpolation algorithm
            as meets their specific requirement.   When describing properties that vary in space
            and/or time, WMO METCE shall make exclusive use only of Discrete coverages.  The Class
            ‘SamplingCoverageMeasurement’ is based on the SamplingCoverageObservation which is
            defined in an informative annex of ISO 19156. However, the term ‘measurement’ is used
            in the name in an attempt to reduce confusion arising from the overloading of the
            term ‘observation’.
         </documentation>
         <appinfo>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SamplingCoverageMeasurement1">
               <sch:rule context="//metce:SamplingCoverageMeasurement">
                  <sch:assert test="((: observedProperty shall be consistent with result.rangeType :)true())">SamplingCoverageMeasurement: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SamplingCoverageMeasurement2">
               <sch:rule context="//metce:SamplingCoverageMeasurement">
                  <sch:assert test="((: featureOfInterest.shape shall be consistent with spatial components of result.domain :)true())">SamplingCoverageMeasurement: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
            <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" name="SamplingCoverageMeasurement3">
               <sch:rule context="//metce:SamplingCoverageMeasurement">
                  <sch:assert test="((: phenomenonTime shall be consistent with temporal component of result.domain :)true())">SamplingCoverageMeasurement: [missing message]</sch:assert>
               </sch:rule>
            </sch:pattern>
         </appinfo>
      </annotation>
   </element>
   <complexType name="SamplingCoverageMeasurementType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="procedure" type="metce:ProcessPropertyType">
                  <annotation>
                     <documentation>The association role 'procedure' is further constrained to refer to an entity of type
                        Process (from WMO METCE). This ensures that a valid concrete implementation of OM_Process
                        is supplied.
                     </documentation>
                  </annotation>
               </element>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType">
                  <annotation>
                     <documentation>The association role 'featureOfInterest' is further constrained to refer to an entity
                        of type 'SF_SpatialSamplingFeature' (from ISO 19156).  In all cases identified thus
                        far in meteorology, it appears useful to describe an observation, measurement or forecast
                        with respect to the sampling regime (e.g. the Sampling Feature) and indirectly refer
                        to the real-world entity for which the Sampling Feature is a proxy.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SamplingCoverageMeasurementPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:SamplingCoverageMeasurement"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="SamplingObservation" substitutionGroup="om:OM_Observation" type="metce:SamplingObservationType">
      <annotation>
         <documentation>Class SamplingObservation (a subclass of OM_Observation) provides a general purpose
            observation type.  It enforces the following additional constraints: - 'featureOfInterest'
            shall refer to an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass
            thereof; and  - 'procedure' shall refer to an entity of type Process (from WMO METCE),
            or subclass thereof  SamplingObservation is intended for use where measurement of
            physical phenomena is not the goal of the procedure. For example, the procedure executed
            to define SIGMET reports results in the identification of areas of turbulence, icing
            or other meteorological phenomena.
         </documentation>
      </annotation>
   </element>
   <complexType name="SamplingObservationType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="procedure" type="metce:ProcessPropertyType">
                  <annotation>
                     <documentation>The association role 'procedure' is further constrained to refer to an entity of type
                        Process (from WMO METCE). This ensures that a valid concrete implementation of OM_Process
                        is supplied.
                     </documentation>
                  </annotation>
               </element>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType">
                  <annotation>
                     <documentation>The association role 'featureOfInterest' is further constrained to refer to an entity
                        of type 'SF_SpatialSamplingFeature' (from ISO 19156).  In all cases identified thus
                        far in meteorology, it appears useful to describe an observation, measurement or forecast
                        with respect to the sampling regime (e.g. the Sampling Feature) and indirectly refer
                        to the real-world entity for which the Sampling Feature is a proxy.
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="SamplingObservationPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:SamplingObservation"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="ComplexSamplingMeasurement" substitutionGroup="om:OM_Observation" type="metce:ComplexSamplingMeasurementType">
      <annotation>
         <documentation>Class ComplexSamplingMeasurement (a subclass of OM_ComplexObservation) is intended
            for use where the observation event is concerned with the evaluation of multiple measurands
            at a specified location and time instant or duration. The result of this observation
            type shall refer to an entity of type Record (from ISO 19103), or subclass thereof
            ComplexSamplingMeasurement enforces the following additional constraints: - 'featureOfInterest'
            shall refer to an entity of type SF_SpatialSamplingFeature (from ISO 19156), or subclass
            thereof; and  - 'procedure' shall refer to an entity of type Process (from WMO METCE),
            or subclass thereof  The OM_ComplexObservation is used because the 'result' of this
            class of observations is a group of measures, provided as a Record. Again, this matches
            the WMO application domain wherein multiple phenomena are measured within a single
            'observation event'.  The term ‘measurement’ is used in the name in an attempt to
            reduce confusion arising from the overloading of the term ‘observation’.
         </documentation>
      </annotation>
   </element>
   <complexType name="ComplexSamplingMeasurementType">
      <complexContent>
         <extension base="om:OM_ObservationType">
            <sequence>
               <element name="procedure" type="metce:ProcessPropertyType">
                  <annotation>
                     <documentation>The association role 'procedure' is further constrained to refer to an entity of type
                        Process (from WMO METCE). This ensures that a valid concrete implementation of OM_Process
                        is supplied.
                     </documentation>
                  </annotation>
               </element>
               <element name="featureOfInterest" type="sams:SF_SpatialSamplingFeaturePropertyType">
                  <annotation>
                     <documentation>The association role 'featureOfInterest' is further constrained to refer to an entity
                        of type 'SF_SpatialSamplingFeature' (from ISO 19156).  In all cases identified thus
                        far in meteorology, it appears useful to describe an observation, measurement or forecast
                        with respect to the sampling regime (e.g. the Sampling Feature) and indirectly refer
                        to the real-world entity for which the Sampling Feature is a proxy. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="ComplexSamplingMeasurementPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:ComplexSamplingMeasurement"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
</schema>