iwxxm2Converter/src/test/resources/iwxxm/2.1/int/wmo/metce/1.0RC1/phenomena.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/meteorological-basic-types/1.0RC1" xmlns:metce="http://data.wmo.int/def/metce/1.0RC1" targetNamespace="http://data.wmo.int/def/metce/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>The package 'Meteorological Phenomena' contains: - «FeatureType» entities that have
         a significant role in meteorology; e.g. volcanoes and tropical cyclones. - «CodeList»
         class(es) providing a categorisation of meteorological phenonema.
      </documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="metce.xsd"/>
   <element name="TropicalCyclone" substitutionGroup="gml:AbstractFeature" type="metce:TropicalCycloneType">
      <annotation>
         <documentation>Cyclone of tropical origin of small diameter (some hundreds of kilometres) with minimum
            surface pressure in some cases less than 900 hPa, very violent winds and torrential
            rain; sometimes accompanied by thunderstorms. It usually contains a central region,
            known as the &amp;ldquo;eye&amp;rdquo; of the storm, with a diameter of the order of some
            tens of kilometres, and with light winds and more or less lightly clouded sky.  See
            WMO Code table 3704 "Shape and definition of the eye of the tropical cyclone" and
            WMO Code table 3790 "Intensity of the tropical cyclone" for candidate attributes for
            this class.
         </documentation>
      </annotation>
   </element>
   <complexType name="TropicalCycloneType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="name" type="string">
                  <annotation>
                     <documentation>Name of tropical cyclone.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="TropicalCyclonePropertyType">
      <sequence minOccurs="0">
         <element ref="metce:TropicalCyclone"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="Volcano" substitutionGroup="gml:AbstractFeature" type="metce:VolcanoType">
      <annotation>
         <documentation>The class 'Volcano' describes a volcano irrespective of the volcano's current state.</documentation>
      </annotation>
   </element>
   <complexType name="VolcanoType">
      <complexContent>
         <extension base="gml:AbstractFeatureType">
            <sequence>
               <element name="name" type="string">
                  <annotation>
                     <documentation>The name of the volcano.</documentation>
                  </annotation>
               </element>
               <element name="position" type="gml:PointPropertyType">
                  <annotation>
                     <documentation>The position of the volcano.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="VolcanoPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:Volcano"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <element name="EruptingVolcano" substitutionGroup="metce:Volcano" type="metce:EruptingVolcanoType">
      <annotation>
         <documentation>The class 'EruptingVolcano' describes a volcano that is currently erupting, or has
            recently erupted, that is the source of volcanic ash or other significant meteorological
            phenomena described in current operational weather reports.
         </documentation>
      </annotation>
   </element>
   <complexType name="EruptingVolcanoType">
      <complexContent>
         <extension base="metce:VolcanoType">
            <sequence>
               <element name="eruptionDate" type="dateTime">
                  <annotation>
                     <documentation>The date of eruption for the volcano.</documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <complexType name="EruptingVolcanoPropertyType">
      <sequence minOccurs="0">
         <element ref="metce:EruptingVolcano"/>
      </sequence>
      <attributeGroup ref="gml:AssociationAttributeGroup"/>
      <attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </complexType>
   <complexType name="AeronauticalSignificantWeatherPhenomenonType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/49-2/SigWxPhenomena</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Weather phenomenon of significance to aviation operations; used in SIGMET and AIRMET
            reports.  The set of permitted options are defined in WMO No. 49 C.3.1. sub-clause
            1.1.4.
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="MeteorologicalPhenomenonType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-08-011</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Categorisation of meteorological phenomena.  See WMO No. 306 BUFR Code-table 0 08
            011 "Meteorological Feature"
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>