src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/mass.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="meteorology.xsd"/>
   <element name="MeanSeaLevelPressure" type="met-basic:MeanSeaLevelPressureType">
      <annotation>
         <documentation>The atmospheric pressure at mean sea level, either directly measured or, most commonly,
            empirically determined from the observed station pressure.  In FM-92 GRIB, encoded
            as GRIB Code-table 4.2 discipline 0 (meteorology), category 3 (mass), #1 pressure
            reduced to MSL.
         </documentation>
      </annotation>
   </element>
   <complexType name="MeanSeaLevelPressureType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="PressureTendency" type="met-basic:PressureTendencyType">
      <annotation>
         <documentation>The rate of change in atmospheric pressure.  In FM-92 GRIB, encoded as GRIB Code-table
            4.2 discipline 0 (meteorology), category 3 (mass), #2 pressure tendency.
         </documentation>
      </annotation>
   </element>
   <complexType name="PressureTendencyType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="AltimeterSetting" type="met-basic:AltimeterSettingType">
      <annotation>
         <documentation>Altitude setting (also known as QNH) is defined as barometric pressure adjusted to
            sea level. It is a pressure setting used by pilots, air traffic control (ATC), and
            low frequency weather beacons to refer to the barometric setting which, when set on
            an aircraft's altimeter, will cause the altimeter to read altitude above mean sea
            level within a certain defined region.  In FM-92 GRIB, encoded as GRIB Code-table
            4.2 discipline 0 (meteorology), category 3 (mass), #11 altimeter setting.  &lt;i&gt;Note:
            whilst QNH is an aviation term, it appears in the GRIB parameter scheme within this
            category - hence its inclusion here.&lt;/i&gt;
         </documentation>
      </annotation>
   </element>
   <complexType name="AltimeterSettingType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="GeometricHeight" type="met-basic:GeometricHeightType">
      <annotation>
         <documentation>(Also known as geometric altitude)  Vertical distance (Z) of a level, a point or an
            object considered as a point, measured from mean sea level.  In FM-92 GRIB, encoded
            as GRIB Code-table 4.2 discipline 0 (meteorology), category 3 (mass), #6 geometric
            height.
         </documentation>
      </annotation>
   </element>
   <complexType name="GeometricHeightType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
</schema>