src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/momentum.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="meteorology.xsd"/>
   <element name="GustSpeed" type="met-basic:GustSpeedType">
      <annotation>
         <documentation>Maximum speed of a gust during a given period.  In FM-92 GRIB, encoded as GRIB Code-table
            4.2 discipline 0 (meteorology), category 2 (momentum), #22 wind speed (gust).
         </documentation>
      </annotation>
   </element>
   <complexType name="GustSpeedType">
      <simpleContent>
         <extension base="gml:SpeedType"/>
      </simpleContent>
   </complexType>
   <element name="WindSpeed" type="met-basic:WindSpeedType">
      <annotation>
         <documentation>Ratio of the distance covered by the air to the time taken to cover it. The instantaneous
            speed corresponds to the case of an infinitely small time interval. The mean speed
            corresponds to the case of a finite time interval. It is one component of wind velocity,
            the other being wind direction).  In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline
            0 (meteorology), category 2 (momentum), #1 wind speed.
         </documentation>
      </annotation>
   </element>
   <complexType name="WindSpeedType">
      <simpleContent>
         <extension base="gml:SpeedType"/>
      </simpleContent>
   </complexType>
   <element name="WindDirection" type="met-basic:WindDirectionType">
      <annotation>
         <documentation>Direction from which wind is blowing.  In FM-92 GRIB, encoded as GRIB Code-table 4.2
            discipline 0 (meteorology), category 2 (momentum), #0 wind direction. &lt;font color="#ff0000"&gt;
            &lt;/font&gt;&lt;font color="#ff0000"&gt;Note that BUFR Table B provides additional descriptors
            with further refined semantics:&lt;/font&gt; &lt;font color="#ff0000"&gt;- 0 11 016 : Extreme
            counter clockwise direction of a variable wind; and&lt;/font&gt; &lt;font color="#ff0000"&gt;-
            0 11 017 : Extreme clockwise direction of a variable wind.&lt;/font&gt; &lt;font color="#ff0000"&gt;
            &lt;/font&gt;&lt;font color="#ff0000"&gt;There seems little or no value in defining UML classes
            that match this detailed level of semantic specification. In usage, the class WindDirection
            will be qualified by the semantics of an attribute or association role. The model
            documentation should express the associated refined semantics. Other scenarios where
            a Measure class may be qualified include _MINIMUM_ visibility, _MINIMUM ONE MINUTE
            MEAN_ RVR etc. Again, in these situations the semantics of the base class can be cleanly
            expressed using model documentation.&lt;/font&gt; &lt;font color="#ff0000"&gt; &lt;/font&gt;&lt;font color="#ff0000"&gt;In
            contrast, prevailing visibility has complex semantics when compared to the base visibility
            definition. Here, there is value in ensuring consistent semantics are expressed by
            defining a specialised class for PrevailingVisibility.&lt;/font&gt;
         </documentation>
      </annotation>
   </element>
   <complexType name="WindDirectionType">
      <simpleContent>
         <extension base="gml:AngleType"/>
      </simpleContent>
   </complexType>
</schema>