src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/physicalAtmosphericPropertiesAeronautical.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="aeronauticalMeteorology.xsd"/>
   <element name="VerticalVisibility" substitutionGroup="met-basic:Visibility_Aero" type="met-basic:VerticalVisibilityType">
      <annotation>
         <documentation>Vertical visibility is defined as the vertical visual range into an obscuring medium.
            &lt;i&gt;Note: vertical visibility is only reported in aviation-specific WMO Code-forms
            (FM-15 METAR, FM-16 SPECI and FM-51 TAF) thus we consider prevailing visibility to
            be aviation-specific quantity.&lt;/i&gt;
         </documentation>
      </annotation>
   </element>
   <complexType name="VerticalVisibilityType">
      <simpleContent>
         <extension base="met-basic:Visibility_AeroType"/>
      </simpleContent>
   </complexType>
   <element name="PrevailingVisibility" substitutionGroup="met-basic:Visibility_Aero" type="met-basic:PrevailingVisibilityType">
      <annotation>
         <documentation>The greatest visibility value observed which is reached within at least half the horizon
            circle or within at least half of the surface of the aerodrome. These areas could
            comprise contiguous or non-contiguous sectors.  &lt;i&gt;Note: prevailing visibility is
            only reported in aviation-specific WMO Code-forms (FM-15 METAR, FM-16 SPECI and FM-51
            TAF) thus we consider prevailing visibility to be aviation-specific quantity.&lt;/i&gt;
         </documentation>
      </annotation>
   </element>
   <complexType name="PrevailingVisibilityType">
      <simpleContent>
         <extension base="met-basic:Visibility_AeroType"/>
      </simpleContent>
   </complexType>
   <element name="RunwayVisualRange" type="met-basic:RunwayVisualRangeType">
      <annotation>
         <documentation>(Abbreviated RVR)   The range [distance] over which the pilot of an aircraft on the
            center line of a runway can see the runway surface markings or the lights delineating
            the runway or identifying its center line.
         </documentation>
      </annotation>
   </element>
   <complexType name="RunwayVisualRangeType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
   <element name="Visibility_Aero" substitutionGroup="met-basic:Visibility" type="met-basic:Visibility_AeroType">
      <annotation>
         <documentation>Visibility for aeronautical purposes; the greater of: (a) The greatest distance at
            which a black object of suitable dimensions, situated near the ground, can be seen
            and recognised when observed against a bright background; (b) The greatest distance
            at which lights in the vicinity of 1000 candelas can be seen and identified against
            an unlit background.  Note that visibility for aeronautical purposes is a more rigorously
            defined than general visibility. 
         </documentation>
      </annotation>
   </element>
   <complexType name="Visibility_AeroType">
      <simpleContent>
         <extension base="met-basic:VisibilityType"/>
      </simpleContent>
   </complexType>
   <simpleType name="RunwayVisualRangeTendencyType">
      <annotation>
         <documentation>If the runway visual range values during the 10-minute period preceding the nominal
            observation time show a distinct upward or downward tendency such that the mean during
            the first five minutes varies by 100 metres or more from the mean in the second five
            minutes of the period, an UPWARD [U] or DOWNWARD [D] tendency shall be recorded. When
            no distinct change in RVR is observed, NO CHANGE [N] shall be recorded.
         </documentation>
      </annotation>
      <restriction base="string">
         <enumeration value="UPWARD">
            <annotation>
               <documentation>Upward (increasing) tendency</documentation>
            </annotation>
         </enumeration>
         <enumeration value="NO_CHANGE">
            <annotation>
               <documentation>No change</documentation>
            </annotation>
         </enumeration>
         <enumeration value="DOWNWARD">
            <annotation>
               <documentation>Downward (decreasing) tendency</documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
   <complexType name="AerodromeForecastWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/49-2/AerodromeForecastWeather</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>AerodromeForecastWeather enables the forecast weather at an aerodrome to be reported.
            Only a specific set of weather phenomenon are reported within aviation meteorology
            as defined in Regulation ICAO Annex 3 / WMO No. 49.  This &amp;lt;CodeList&amp;gt; is specifically
            defined for aviation purposes therefore it is provisioned within the vocabulary associated
            with WMO No. 49 (e.g. http://data.wmo.int/def/49). However, the definitions are a
            subset from WMO code-table 4678.  See WMO No. 306 Vol I.1 Code table 4678 "Significant
            weather phenomena".  Note: WMO BUFR code-table 0 20 003 'present weather' _MAY_ provide
            a complete enumeration of the options from code-table 4678.
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="AerodromeRecentWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/49-2/AerodromeRecentWeather</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Weather phenomenon of operational significance to aviation observed during the period
            since the last routine report, or last hour, whichever is shorter, but not at the
            time of observation.  Only a specific set of weather phenomenon are reported within
            aviation meteorology as defined in Regulation ICAO Annex 3 / WMO No. 49.  This &amp;lt;CodeList&amp;gt;
            is specifically defined for aviation purposes therefore it is provisioned within the
            vocabulary associated with WMO No. 49 (e.g. http://data.wmo.int/def/49). However,
            the definitions are a subset from WMO code-table 4678.  See WMO No. 306 Vol I.1 Code
            table 4678 "Significant weather phenomena".  Note: WMO BUFR code-table 0 20 004/005
            'past weather' _MAY_ provide a complete enumeration of the options from code-table
            4678.
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="SignificantWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/306/4678</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Categorisation of local significant atmospheric activity; weather type.  See WMO No.
            306 WMO Code table 4678 "Significant present and forecast weather".  Note: WMO BUFR
            code-table 0 20 003 'present weather' _MAY_ provide a complete enumeration of the
            options from code-table 4678.
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="AerodromePresentWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/49-2/AerodromePresentWeather</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>AerodromePresentWeather enables the present weather observed at, or in near vicinity
            of, an aerodrome to be reported.  Only a specific set of weather phenomenon are reported
            within aviation meteorology as defined in Regulation ICAO Annex 3 / WMO No. 49.  This
            &amp;lt;CodeList&amp;gt; is specifically defined for aviation purposes therefore it is provisioned
            within the vocabulary associated with WMO No. 49 (e.g. http://data.wmo.int/def/49).
            However, the definitions are a subset from WMO code-table 4678.  See WMO No. 306 Vol
            I.1 Code table 4678 "Significant weather phenomena".  Note: WMO BUFR code-table 0
            20 003 'present weather' _MAY_ provide a complete enumeration of the options from
            code-table 4678.
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>