iwxxm2Converter/src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/moisture.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="meteorology.xsd"/>
   <element name="TotalPrecipitationRate" type="met-basic:TotalPrecipitationRateType">
      <annotation>
         <documentation>Rate of total precipitation.  In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline
            0 (meteorology), category 1 (moisture), #52 total precipitation rate.
         </documentation>
      </annotation>
   </element>
   <complexType name="TotalPrecipitationRateType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="TotalPrecipitation" type="met-basic:TotalPrecipitationType">
      <annotation>
         <documentation>Total amount of precipitation measured over a defined period.  In FM-92 GRIB, encoded
            as GRIB Code-table 4.2 discipline 0 (meteorology), category 1 (moisture), #8 total
            precipitation.  Whilst this parameter is currently marked as 'deprecated', this quantity
            is expected to be reinstated into GRIB in the next release as the use of 'accumulations'
            of 'total-precipitation-rate' over a period to determine the total precipitation was
            overly complex!  Also see BUFR Table-B element 0 13 011 'Total precipitation'.
         </documentation>
      </annotation>
   </element>
   <complexType name="TotalPrecipitationType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="SnowDepthWaterEquivalent" type="met-basic:SnowDepthWaterEquivalentType">
      <annotation>
         <documentation>In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline 0 (meteorology), category
            1 (moisture), #60 snow depth water equivalent.
         </documentation>
      </annotation>
   </element>
   <complexType name="SnowDepthWaterEquivalentType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <element name="SnowDepth" type="met-basic:SnowDepthType">
      <annotation>
         <documentation>In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline 0 (meteorology), category
            1 (moisture), #11 snow depth.
         </documentation>
      </annotation>
   </element>
   <complexType name="SnowDepthType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
</schema>