iwxxm2Converter/src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/physicalAtmosphericProperties.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>[&lt;font color="#ff0000"&gt;Weather phenomenon not present in GRIB Code-table 4.2 (category
         19: Physical atmospheric properties) - but included here&lt;/font&gt;] [&lt;font color="#ff0000"&gt;Maximum
         diameter of hailstones not present in GRIB Code-table 4.2 (category 19: Physical atmospheric
         properties) - but included here. This property is defined in BUFR Table B class 20
         'Observed phenomena' #66 (Element 0 20 066)&lt;/font&gt;]
      </documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="meteorology.xsd"/>
   <element name="MaxHailstoneDiameter" type="met-basic:MaxHailstoneDiameterType">
      <annotation>
         <documentation>Maximum diameter (size) of hailstone (observed).  See WMO No. 306 BUFR Table B class
            20 'Observed phenomena' #66 [Element 0 20 066]
         </documentation>
      </annotation>
   </element>
   <complexType name="MaxHailstoneDiameterType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
   <element name="Visibility" type="met-basic:VisibilityType">
      <annotation>
         <documentation>The greatest distance that prominent objects can be seen and identified by unaided,
            normal eyes.  Unless otherwise stated, visibility is determined in the horizontal
            plane at the ground surface.  In FM-92 GRIB, encoded as GRIB Code-table 4.2 discipline
            0 (meteorology), category 19 (physical atmospheric properties), #0 visibility.  &lt;i&gt;Note:
            WMO Regulation for synoptic observations (Code form FM-12 SYNOP) assert that When
            the horizontal visibility is not the same in different directions, the shortest distance
            shall be given. However, national reporting practices vary.&lt;/i&gt;
         </documentation>
      </annotation>
   </element>
   <complexType name="VisibilityType">
      <simpleContent>
         <extension base="gml:LengthType"/>
      </simpleContent>
   </complexType>
   <complexType name="OtherWeatherPhenomenonType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-023</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Additional weather phenomena not described in RecentWeather or PresentWeather.  See
            WMO No. 306 BUFR Code-table 0 20 023
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="ObscurationType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-025</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Any collection of particles, aloft or in contact with the earth's surface, dense enough
            to be discernible to the observer.  See WMO No. 306 BUFR Code table 0 20 025
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="RecentWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-004</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Weather phenomenon observed during the period since the last routine report, or last
            hour, whichever is shorter, but not at the time of observation.  See WMO No. 306 BUFR
            Code-tables 0 20 004 and 005
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
   <complexType name="PresentOrForecastWeatherType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-20-003</vocabulary>
            <extensibility>any</extensibility>
         </appinfo>
         <documentation>Weather phenomena observed or forecast to occur.  See WMO No. 306 BUFR Code-table
            0 20 003
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>