iwxxm2Converter/src/test/resources/iwxxm/2.1/int/wmo/met-basic/1.0RC1/surfaceProperties.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:met-basic="http://data.wmo.int/def/met-basic/1.0RC1" targetNamespace="http://data.wmo.int/def/met-basic/1.0RC1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>[&lt;font color="#ff0000"&gt;Sea-surface state not present in GRIB Code-table 4.2 (category
         3: Surface properties) - but included here ... although it may be more appropriately
         placed in category 0 "waves"&lt;/font&gt;]
      </documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="oceanography.xsd"/>
   <element name="SeaSurfaceTemperature" type="met-basic:SeaSurfaceTemperatureType">
      <annotation>
         <documentation>The temperature of the ocean surface. The term sea surface temperature is generally
            meant to be representative of the upper few meters of the ocean as opposed to the
            skin temperature, which is the temperature of the upper few centimeters.  In FM-92
            GRIB, encoded as GRIB Code-table 4.2 discipline 10 (oceanography), category 3 (surface
            properties), #0 water temperature.
         </documentation>
      </annotation>
   </element>
   <complexType name="SeaSurfaceTemperatureType">
      <simpleContent>
         <extension base="gml:MeasureType"/>
      </simpleContent>
   </complexType>
   <complexType name="SeaSurfaceStateType">
      <annotation>
         <appinfo>
            <vocabulary>http://data.wmo.int/def/bufr4/codeflag/0-22-061</vocabulary>
            <extensibility>none</extensibility>
         </appinfo>
         <documentation>Categorical assessment of sea surface state (or other large open body of water) based
            on height of waves.  Height in metres : Category - 0 metres : Calm (glassy) - 0-0.1
            metres : Calm (rippled) - 0.1-0.5 metres : Smooth - 0.5-1.25 metres : Slight - 1.25-2.5
            metres : Moderate - 2.5-4 metres : Rough - 4-6 metres : Very rough - 6-9 metres :
            High - 9-14 metres : Very high - &amp;gt;14 metres : Phenomenal  See WMO No. 306: - WMO
            Code table 3700 "State of the sea" - BUFR Code table 0 22 061 "State of the sea"
         </documentation>
      </annotation>
      <complexContent>
         <extension base="gml:ReferenceType"/>
      </complexContent>
   </complexType>
</schema>