src/test/resources/iwxxm/2.1/int/wmo/saf/1.0RC2/measures.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:saf="http://icao.int/saf/1.0RC2" targetNamespace="http://icao.int/saf/1.0RC2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
   <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
   <annotation>
      <documentation>Package with Nillable Measure and NilReason</documentation>
   </annotation>
   <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
   <include schemaLocation="saf.xsd"/>
   <element name="DistanceWithNilReason" type="saf:DistanceWithNilReasonType"/>
   <complexType name="DistanceWithNilReasonType">
      <simpleContent>
         <extension base="gml:LengthType">
            <attribute name="nilReason" type="gml:NilReasonType"/>
         </extension>
      </simpleContent>
   </complexType>
   <element name="LengthWithNilReason" type="saf:LengthWithNilReasonType"/>
   <complexType name="LengthWithNilReasonType">
      <simpleContent>
         <extension base="gml:LengthType">
            <attribute name="nilReason" type="gml:NilReasonType"/>
         </extension>
      </simpleContent>
   </complexType>
</schema>